# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.pyc
# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.pb.h
*.pb.cc

output/*

# bin files
master
scheduler
agent
initd
thirdsrc
thirdparty
sandbox/*.log
galaxy
initd_cli
initd_cli_server
sandbox/data/
sandbox/work_dir/
sandbox/gc_dir/
sandbox/galaxy.flag
sandbox/sample.json
test_agent
test_initd
