[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
	branch = v3.0.0-alpha-1
[submodule "thirdparty/grpc"]
	path = thirdparty/grpc
	url = https://github.com/google/grpc.git
	branch = release-0_5_0
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = https://github.com/schuhschuh/gflags.git
	branch = v2.1.1
