<div class="modal-header">
   <h4>添加</h4>
</div>
<div class="modal-body">  
<form >
  <div class="form-group">
    <label for="serviceName">服务名称</label>
    <input type="email" class="form-control" id="serviceName" ng-model="service.name">
  </div>
  <div class="form-group">
    <label for="serviceMeta">配置信息</label>
    <textarea ng-model="service.dataStr" id="serviceMeta" class="form-control" rows="20" ></textarea>
  </div>

</form>
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">创建</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>