
<div class="cluster-status-list">
    <div class="card resource-status">
        <span class="card-header"> 资源实时使用率 </span>
        <div class="ez-chart"> 
            <div class="percentage easyPieChart" style="width: 110px; height: 110px; line-height: 110px;" easypiechart options="chartOptions" percent="cpuPercent">
                <span>{{cpuPercent}}%</span>
            </div>
            <div class="chart-label">CPU</div>
        </div>

        <div class="ez-chart">
               <div style="width: 110px; height: 110px; line-height: 110px;" class="percentage easyPieChart" easypiechart options="chartOptions" percent="memPercent">
                 <span>{{memPercent}}%</span>
             </div>
             <div class="chart-label">MEMORY</div>
        </div>
</div>

  <div class="card resource-total">
        <span class="card-header"> 集群资源统计 </span>
        <div class="ez-chart"> 
 <div class="ui statistics">
      <div class="red statistic">
        <div class="value">{{total_cpu_allocated}} </div>
        <div class="label">总CPU分配量 </div>
    </div>
    <div class="red statistic">
        <div class="value">{{total_mem_allocated}}</div>
        <div class="label">总内存分配量 </div>
    </div>

  </div> 
       
</div>

<div class="ez-chart">
<div class="ui statistics">
      <div class="blue statistic">
        <div class="value">{{total_node_num}}</div>
        <div class="label">机器总数 </div>
      </div>
      <div class="blue statistic">
        <div class="value">{{total_cpu_num}} </div>
        <div class="label">集群总核数 </div>
      </div>
      <div class="blue statistic">
        <div class="value">{{total_mem_num}}</div>
        <div class="label">集群总内存</div>
    </div>
    <div class="blue statistic">
        <div class="value">{{total_task_num}}</div>
        <div class="label">集群总任务</div>
      </div>
  </div>

        </div>
    </div>

</div>
<div class="service-list">
    <div class="form-group">
         <input ng-model="searchText" ng-change="filterMachine()" type="text" class="form-control" placeholder="搜索机器">
     </div>
    <table class="table table-striped service-table">
    <thead>
      <tr>
        <th>#id</th>
        <th>节点名称</th>
        <th>任务数</th>
        <th>cpu(allocated/total)</th>
        <th>mem(allocated/total)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="machine in machineList">
        <td>{{machine.id}}</td>
        <td>{{machine.addr}} <a href="" ng-click="showSetPasswordModal(machine.addr)">设置登陆密码</a></td>
        <td><a href ng-click="listTaskByAgent(machine)">{{machine.task_num}}</a></td>
        <td>{{machine.cpu_allocated}}/{{machine.cpu_share}}</td>
        <td>{{machine.mem_allocated}}/{{machine.mem_share}}</td>
      </tr>
    </tbody>
</table> 
 <pagination total-items="totalItems" ng-model="currentPage" max-size="pageSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"  num-pages="numPages"></pagination>
</div>
