 <div class="service-list">
  <table class="table service-table">
    <thead>
      <tr>
        <th>#id</th>
        <th>节点名称</th>
        <th>任务数</th>
        <th>cpu</th>
        <th>mem</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="machine in machineList">
        <td>{{machine.id}}</td>
        <td>{{machine.host}}</td>
        <td><a href ng-click="listTaskByAgent(machine)">{{machine.task_num}}</a></td>
        <td>{{machine.cpu_num}}</td>
        <td>{{machine.mem}}G</td>
      </tr>
    </tbody>
  </table>  
</div>
