<div class="modal-header">
<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <h4>创建服务</h4>
</div>
<div class="modal-body">  

<form >
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="form-group">
    <label for="serviceName">服务名称</label>
    <input type="text" class="form-control" id="serviceName" ng-model="service.name">
  </div>
  <div class="form-group">
   <label>
      <input type="checkbox" ng-model="service.enableSchedule"> 开启自动迁移
   </label>
  </div>
<div class="form-group" ng-show="service.enableSchedule">
    <label for="serviceName">重试次数</label>
    <div class="input-group">
   <input type="number" min="0" ng-model="service.migrateRetryCount" class="form-control" >
    <span class="input-group-addon">次</span> 
    </div>
    
  </div>
  <div class="form-group" ng-show="service.enableSchedule">
    <label for="serviceName">迁移上限</label>
    <div class="input-group">
      <input type="number" max="100" min="0" ng-model="service.migrateStopThreshold"class="form-control" >
      <span class="input-group-addon">%</span>
    </div>
  </div>
  <div class="form-group" ng-show="service.enableSchedule">
    <label for="serviceName">迁移延时</label>
    <div class="input-group">
    <input type="number"  min="0" ng-model="service.delayMigrateTimeSec" class="form-control" > 
    <span class="input-group-addon">秒</span> 
    </div>
    
  </div>
 <div class="form-group">
    <label>
      <input type="checkbox" ng-model="service.enableNaming" > 开启bns
    </label>
  </div>
 <!-- <div class="form-group">
   <label for="serviceName">选择资源</label>
   <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled" on-select="handleSelectResource($item,$model)">
    <ui-select-match >{{$select.selected.name}}</ui-select-match>
    <ui-select-choices class="scrollable" repeat="resource in resourceList | propsFilter: {name: $select.search}">
      <div ng-bind-html="resource.name | highlight: $select.search"></div>
      <small>
       email: {{person.email}}
        age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
      </small>
    </ui-select-choices>
  </ui-select>
  </div>
  <div class="form-group" ng-hide="hidetpl">
    <label for="serviceMeta">配置信息</label>
    <textarea  id="serviceMeta" class="form-control scrollable" rows="20" ng-model="service.dataStr" ></textarea>
  </div>-->
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="disableBtn" ng-click="ok()">创建</button>
    <button class="btn btn-default" ng-disabled="disableBtn" ng-click="cancel()">取消</button>
</div>