<div class="modal-header">
<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <h4>创建服务</h4>
</div>
<div class="modal-body">  

    <form >
 <div class="ui statistics" ng-show="groupStat != null ">
      <div class="red statistic">
        <div class="value">{{groupStat.total_cpu_left}} </div>
        <div class="label">剩余CPU核数 </div>
    </div>
    <div class="red statistic">
        <div class="value">{{groupStat.pretty_total_mem_left}}</div>
        <div class="label">剩余内存 </div>
    </div>

  </div> 
 
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="form-group">
          <label for="name">选择quota组</label>
          <select class="form-control" ng-options="group as group.name for group in groupList" 
              ng-model="selectGroup" ng-change="groupUpdate()">
          </select>
 </div>

  <div class="form-group">
          <label for="name">服务名称</label>

          <input type="text" ng-model="deployTpl.name" class="form-control " id="name" >
        </div>
 
  <div class="form-group">
          <label for="replicate">实例数</label>
          <input type="number" ng-model="deployTpl.replicate" class="form-control " id="replicate" >
        </div>
        <div class="form-group" >
          <label for="memoryLimit">内存限制</label>
           <div class="input-group">
            <input type="number" ng-model="deployTpl.memoryLimit" class="form-control " id="memoryLimit" >
            <span class="input-group-addon">G</span> 
           </div>
        </div>
        <div class="form-group" >
          <label for="cpuShare">CPU核数</label>
          <input type="number" ng-model="deployTpl.cpuShare" class="form-control " id="cpuShare">
        </div>
        <div class="form-group">
          <label for="pkgSrc">部署包</label>
          <div class="row">
            <div class="col-xs-2">
              <select class="form-control" ng-model="deployTpl.pkgType">
                <option ng-repeat="option in defaultPkgType" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="deployTpl.pkgSrc" id="pkgSrc" >
            </div>
          </div>   
      </div>
       <div class="form-group">
          <label for="startCmd">启动命令</label>
          <input type="text" ng-model="deployTpl.startCmd" class="form-control " id="startCmd">
        </div>

      <div class="form-group" ng-show="showAdvanceOption">
          <label for="deployStepSize">并发部署个数</label>
         <input type="number"  class="form-control" ng-model="deployTpl.deployStepSize" id="deployStepSize">
     </div>
       <div class="form-group" ng-show="showAdvanceOption">
          <label for="tag">限制任务在特定tag上</label>
          <select type="text"  class="form-control" ng-model="deployTpl.tag" id="tag">
              <option value=""></option>
              <option ng-repeat="tag in tagList" ng-model="tag.tag">{{tag.tag}}</option>
          </select>
        </div>
 
              <div class="checkbox" ng-show="showAdvanceOption">
            <label>
             <input type="checkbox" ng-model="deployTpl.oneTaskPerHost">每个主机部署一个实例
            </label>
        </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="disableBtn" ng-click="ok()">创建</button>
    <button class="btn btn-default" ng-disabled="disableBtn" ng-click="cancel()">取消</button>
    <a ng-href ng-click="showAdvanceOption=!showAdvanceOption">高级选项</a>
</div>
