<div class="modal-header">
<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <h4>任务列表</h4>
</div>
<div class="modal-body scrollable" style="height:400px;overflow-y:scroll">  
    <table class="table table-striped service-table">
    <thead>
      <tr>
        <th>#id</th>
        <th>任务名称</th>
        <th>结束时间</th>
        <th>任务状态</th>
        <th>资源状态(allocated/limit)</th>
        <th>agent</th>
        <th>gc路径</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasklist">
        <td>{{task.id}}</td>
        <td>{{task.name}} <a href="" ng-click="showSetPasswordModal(task)">设置访问密码</a></td>
        <td>{{task.end_time}}</td>
        <td>{{task.status}}</td>
        <td>CPU:{{task.cpu_used}}/{{task.cpu_limit}}</br>
            MEM:{{task.mem_used}}/{{task.mem_limit}}
        </td>
        <td>{{task.agent_addr}}</td>
        <td><a href="{{task.path}}" target="__blank">{{task.gc_path}}</a></td>
      </tr>
    </tbody>
  </table>  

</div>
