 <!--service list start -->
 <div class="service-list">
  <button type="button" ng-click="open()" class="btn btn-primary">创建服务</button>
  <table class="table service-table">
    <thead>
      <tr>
        <th>#id</th>
        <th>服务名称</th>
        <th>运行任务</th>
        <th>总任务</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in serviceList">
        <td>{{service.id}}</td>
        <td>{{service.name}}</td>
        <td>{{service.task_running_num}}</td>
        <td>{{service.replicate_num}}</td>
      </tr>
    </tbody>
  </table>  
</div>
<!--service list end -->
