 <!--resource  start -->
<div class="service-list">
  <button type="button" ng-click="addResource()" class="btn btn-primary">添加资源</button>
  <table class="table service-table">
    <thead>
      <tr>
        <th>名称</th>
        <th>创建人</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="resource in resourceList">
        <td><a href="/#/resource/{{resource.name}}">{{resource.name}}</a></td>
        <td>wangtaize</td>
        <th><a href="" ng-click="deleteService(resource.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></th>
      </tr>
    </tbody>
  </table>  
</div>
<!--resource end -->