<div class="instance">
  <class="instance-container" ng-hide="hideInitServForm ">
   <div class="instance-container-title"><h4>初始化服务</h4></div>
    <form style="width:60%">
        <div class="form-group">
          <label for="replicate">实例数</label>
          <input type="number" ng-model="deployTpl.replicate" class="form-control " id="replicate" >
        </div>
        <div class="form-group">
          <label for="memoryLimit">内存限制</label>
           <div class="input-group">
            <input type="number" ng-model="deployTpl.memoryLimit" class="form-control " id="memoryLimit" >
            <span class="input-group-addon">M</span> 
           </div>
        </div>
        <div class="form-group">
          <label for="cpuShare">CPU权重</label>
          <input type="number" ng-model="deployTpl.cpuShare" class="form-control " id="cpuShare">
        </div>
        <div class="form-group">
          <label for="pkgSrc">部署包</label>
          <div class="row">
            <div class="col-xs-2">
              <select class="form-control" ng-model="deployTpl.pkgType">
                <option ng-repeat="option in defaultPkgType" value="{{option.id}}">{{option.name}}</option>
              </select>
            </div>
            <div class="col-xs-10">
              <input type="text" class="form-control" ng-model="deployTpl.pkgSrc" id="pkgSrc" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="startCmd">启动命令</label>
          <input type="text" ng-model="deployTpl.startCmd" class="form-control " id="startCmd">
        </div>
        <button type="submit" ng-click="initTaskGroup()" ng-disabled="disableBtn" class="btn btn-primary">初始化</button>
      </form>  
  </div>
    <div ng-show="hideInitServForm"  class="instance-container">
      <div class="instance-container-title"><h4>实例状态</h4><div ng-hide="hideSpinner" class="ui active mini text inline loader"></div></div>
      <div class="scrollable instance-container-list">
        <div tooltip="{{instance.id}} {{instance.tip}} " ng-repeat="instance in taskList" class="single-instance" ng-class="instance.state">
             <span class="instance-state">{{instance.label}}</span>
             <span class="instance-offset">{{instance.offset}}</span>
        </div>
        <div class="single-instance add-instance" ng-click="addInstance()" tooltip="添加实例"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
      </div>
    </div>

</div>
