<dl> 
	<dt ng-repeat-start="node in treeData" >
	<a ng-if="node.subpage" ng-class="[node.nodestyle,node.selected]" href="{{node.subpage}}" ><span  >{{node.roleName}}</span></a>
	<span ng-class="[node.nodestyle]" ng-if="!node.subpage">{{node.roleName}}</span>
	</dt>
	<dd ng-repeat-end>
	       <div  ng-if="node.children.length" ng-show="node.collapsed" is-root="false" ng-hide="node.collapsed">
				 <dt ng-repeat-start="inode in node.children" >
				<a ng-if="inode.subpage" ng-class="[inode.nodestyle,node.selected]" href="{{inode.subpage}}" ><span  >{{inode.roleName}}</span></a>
				<span ng-class="[inode.nodestyle]" ng-if="!inode.subpage">{{inode.roleName}}</span>
				</dt>
				<dd ng-repeat-end>
				</dd>
	       </div>
	</dd>
</dl>