{%extends "base.html"%}
{%block custom-css%}
<link rel="stylesheet" type="text/css" href="{{media_url}}/statistic.css">
<style>
.my-container {
background-color: rgb(247, 247, 249);
border-radius: 1px;
border-style: solid rgb(225, 225, 232) 1px;
padding:3px;
margin-bottom:5px;
}
</style>
{%endblock%}
{%block main%}
<nav class="navbar navbar-toolbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand" href="#">Galaxy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{root_url}}trace/cluster">Cluster</a></li>
              <li><a href="{{root_url}}trace/job">Jobs</a></li>
              <li><a href="{{root_url}}trace/sql">Trace</a></li>
         </ul>
       </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container my-container" id="real_time_cpu">
</div>
<div class="container my-container">
<h4>Cluster Resource Statistics</h4>
<div id="cluster_cpu_stat" style="float:left;display:inline;height: 350px; width: 540px">
    loading data...
</div>
<div id="cluster_mem_stat" style="display:inline;float:right;height: 350px; width: 540px">
    loading data...
</div> 
</div> 

<div class="container my-container">
<h4>Cluster Stabilization Statistics</h4>
<div id="cluster_node_stat" style="float:left;display:inline;height: 350px; width: 540px">
    loading data...
</div>
<div id="cluster_pod_stat" style="display:inline;float:right;height: 350px; width: 540px">
    loading data...
</div> 
</div> <!-- /container -->

<div class="container my-container">
<h4>Agent Stat Stream</h4>
<div id="agent-stat"></div>
</div>
{%endblock%}

{%block custom-js%}
<script src="{{media_url}}/js/highstock.js"></script>
<script src="{{media_url}}/mustache.js"></script>
<script>
Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
}
var ROOT_URL="{{root_url}}";
var MEDIA_URL="{{media_url}}";
$(function(){
    var FormatDate = function(date) {
        var fdate = [ date.getFullYear().padLeft(),
                      (date.getMonth() + 1).padLeft(),
                    date.getDate()].join('-')+
                    ' ' +
                  [ date.getHours().padLeft(),
                    date.getMinutes().padLeft()].join(':');
        return fdate;
    }
    Highcharts.setOptions({
            global: {
                useUTC: false,
                timezoneOffset:8
            }
     });
    var ProcessCpuStat = function(data) {
        var total_cpu = new Array;
        var total_cpu_used = new Array;
        var total_cpu_assiged = new Array;
        for (var index in data.data.datas) {
            var item = data.data.datas[index];
            total_cpu.push([Math.round(item.time/1000), item.total_cpu_millicores]);
            total_cpu_used.push([Math.round(item.time/1000), item.total_cpu_used_millicores]);
            total_cpu_assiged.push([Math.round(item.time/1000), item.total_cpu_assigned]);
        }
        var cpu_stock = [];
        cpu_stock.push({name:"total", data:total_cpu});
        cpu_stock.push({name:"used", data:total_cpu_used});
        cpu_stock.push({name:"assigned", data:total_cpu_assiged});
        return cpu_stock;
    }
    var ProcessMemStat = function(data) {
        var total_mem = new Array;
        var total_mem_used = new Array;
        var total_mem_assigned = new Array;
        for (var index in data.data.datas) {
            var item = data.data.datas[index];
            total_mem.push([Math.round(item.time/1000), item.total_memory]);
            total_mem_used.push([Math.round(item.time/1000), item.total_memory_used]);
            total_mem_assigned.push([Math.round(item.time/1000), item.total_memory_assigned]);
        }
        var mem_stock = [];
        mem_stock.push({name:"total", data:total_mem});
        mem_stock.push({name:"used", data:total_mem_used});
        mem_stock.push({name:"assigned", data:total_mem_assigned});
        return mem_stock;

    
    }
    var today = new Date();
    var last = new Date(today.getTime() - (3 * 24 * 60 * 60 * 1000));

    var query_cpu_stat = "select time, total_cpu_assigned,total_cpu_millicores,total_cpu_used_millicores from ClusterStat where data_center='yq01' "+
        " and time >= '" + FormatDate(last) + "' and time <='" + FormatDate(today)+ "'";
   

    $.getJSON(ROOT_URL+"trace/squery?limit=5000&db=baidu.galaxy&sql="+ encodeURIComponent(query_cpu_stat),function(data){
        $('#cluster_cpu_stat').highcharts('StockChart', {
            title: {
                text: 'cluster cpu stat'
            },
            yAxis: {
                   plotLines: [{
                        width: 1
                    }] 
            },
           rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 2,
                    text : '2h'
                }, {
                    type : 'hour',
                    count : 4,
                    text : '4h'
                }, {type:'day',
                    count:2,
                    text:"2d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 1,
                inputEnabled: false
            }, 
            series :ProcessCpuStat(data) 
        });
    });
    var query_mem_stat = "select time, total_memory_assigned,total_memory,total_memory_used from ClusterStat where data_center='yq01' "+
        " and time >= '" + FormatDate(last) + "' and time <='" + FormatDate(today)+"'";  
     $.getJSON(ROOT_URL+"trace/squery?db=baidu.galaxy&sql="+ encodeURIComponent(query_mem_stat),function(data){
        $('#cluster_mem_stat').highcharts('StockChart', {
            title: {
                text: 'cluster memory stat'
            },
            yAxis: {
                   plotLines: [{
                        width: 1
                    }] 
            },
           rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 2,
                    text : '2h'
                }, {
                    type : 'hour',
                    count : 4,
                    text : '4h'
                }, {type:'day',
                    count:2,
                    text:"2d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 1,
                inputEnabled: false
            }, 
            series :ProcessMemStat(data) 
        });
    });
    var query_stable_stat = "select time,total_pod_count,total_node_count, alive_node_count,dead_node_count from ClusterStat where data_center='yq01'"+
    " and time >= '" + FormatDate(last) + "' and time <='" + FormatDate(today)+"'"; 
    $.getJSON(ROOT_URL+"trace/squery?limit=5000&db=baidu.galaxy&sql="+ encodeURIComponent(query_stable_stat),function(data){ 
        var total_node = new Array;
        var total_alive = new Array;
        var total_dead = new Array;
        var total_pod = new Array;
        for (var index in data.data.datas) {
            var item = data.data.datas[index];
            total_node.push([Math.round(item.time/1000), item.total_node_count]);
            total_alive.push([Math.round(item.time/1000), item.alive_node_count]);
            total_dead.push([Math.round(item.time/1000), item.dead_node_count]);
            total_pod.push([Math.round(item.time/1000), item.total_pod_count]);
        }
        var node_stock = [];
        node_stock.push({name:"total", data:total_node});
        node_stock.push({name:"alive", data:total_alive});
        node_stock.push({name:"dead", data:total_dead}); 
        var pod_stock = [];
        pod_stock.push({name:"pod", data:total_pod});
        $('#cluster_node_stat').highcharts('StockChart', {
            title: {
                text: 'cluster node stat'
            },
            yAxis: {
                   plotLines: [{
                        width: 1
                    }] 
            },
           rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 2,
                    text : '2h'
                }, {
                    type : 'hour',
                    count : 4,
                    text : '4h'
                }, {type:'day',
                    count:2,
                    text:"2d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 1,
                inputEnabled: false
            }, 
            series :node_stock 
        });
        $('#cluster_pod_stat').highcharts('StockChart', {
            title: {
                text: 'cluster pod stat'
            },
            yAxis: {
                   plotLines: [{
                        width: 1
                    }] 
            },
           rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 2,
                    text : '2h'
                }, {
                    type : 'hour',
                    count : 4,
                    text : '4h'
                }, {type:'day',
                    count:2,
                    text:"2d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 1,
                inputEnabled: false
            }, 
            series :pod_stock 
        });
    });
    var GetCpuStatus = function(){
        $.getJSON(ROOT_URL+"trace/status", function(data){
            $.get(MEDIA_URL +"/tpl/cpu.tpl", function(tpl){
                var overused = data.data.status.cpu_used - data.data.status.cpu_assigned;
                if (overused < 0) {
                    overused = 0;
                }
                var cpu_data =  {
                                   cpu_total: Math.round(data.data.status.cpu_total/1000),
                                   cpu_assigned: Math.round(data.data.status.cpu_assigned/1000),
                                   cpu_used:Math.round(data.data.status.cpu_used/1000),
                                   overused:Math.round(overused/1000)
                                };
                var cpu_info = Mustache.render(tpl, {cpu:cpu_data});
                 $("#real_time_cpu").html(cpu_info);
        });
       });
    }
    GetCpuStatus();
    setInterval(GetCpuStatus(), 60 * 1000);
    var GetAgentEvent = function(){
        var query = "select addr, time, action, data_center from AgentEvent where data_center='yq01' " + 
        " and time >= '" + FormatDate(last) + "' and time <='" + FormatDate(today)+"'"; 
        $.getJSON(ROOT_URL+"trace/squery?limit=5000&db=baidu.galaxy&sql=" + encodeURIComponent(query), function(data) { 
                var events = Mustache.render(data.data.tpl, {datas:data.data.datas});
                $("#agent-stat").html(events);      
        });
    }
    GetAgentEvent();
});
</script>
{%endblock%}
