{%extends "base.html"%}
{%block custom-css%}


{%endblock%}
{%block main%}
<nav class="navbar navbar-toolbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand" href="#">Galaxy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

              <li><a href="{{root_url}}dc">DataCenter</a></li>
              <li><a href="{{root_url}}trace/cluster?master={{master}}&dc={{dc}}&trace={{trace}}">Cluster</a></li>
              <li class="active"><a href="{{root_url}}trace/job?master={{master}}&dc={{dc}}&trace={{trace}}">Jobs</a></li>
              <li><a href="{{root_url}}trace/sql?master={{master}}&dc={{dc}}&trace={{trace}}">Trace</a></li>
         </ul>
       </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">
    <table class="table table-striped">
       <thead>
          <tr> 
            <th>#</th> 
            <th>id</th>
            <th>name</th>
            <th>state</th>
            <th>stat(r/p/d)</th>
            <th>replica</th> 
            <th>cpu</th> 
            <th>memory</th> 
          </tr>
       </thead> 
        {% for job in jobs%}
           <tr>
               <td>{{forloop.counter}}</td>
               <td><a href="{{root_url}}trace/job/detail?master={{master}}&dc={{dc}}&trace={{trace}}&jobid={{job.jobid}}">{{job.jobid}}</a></td>
               <td>{{job.desc.name}}</td>
               <td>{{job.state}}</td>
               <td>{{job.running_num}}/{{job.pending_num}}/{{job.deploying_num}}</td>
               <td>{{job.desc.replica}}</td>
               <td>{{job.resource_used.millicores}}</td>
               <td>{{job.resource_used.memory | filesizeformat}}</td>
           </tr>
        {%endfor%}
    </table>
</div> <!-- /container -->
{%endblock%}

{%block custom-js%}
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script src="{{media_url}}/mustache.js"></script>
<script>
Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
}

$(function(){
    var today = new Date();
    var last = new Date(today.getTime() - (3 * 24 * 60 * 60 * 1000));
    var start_time = last * 1000;
    var end_time = today * 1000;
    $("#query_btn").bind("click",function(e){
        var sql = encodeURIComponent($("#sql_content").val());
        $.getJSON(ROOT_URL+"trace/squery?dc={{dc}}&master={{master}}&trace={{trace}}&db=baidu.galaxy&sql="+sql, function(data){
           var tables = Mustache.render(data.data.tpl,{datas:data.data.datas});
           $("#datas").html(tables);
        });
    });
   
</script>
{%endblock%}
