{%extends "base.html"%}
{%block custom-css%}

<style>
.my-container {
background-color: rgb(247, 247, 249);
border-radius: 1px;
border-style: solid rgb(225, 225, 232) 1px;
padding:3px;
margin-bottom:5px;
}
</style>

{%endblock%}
{%block main%}
<nav class="navbar navbar-toolbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand" href="#">Galaxy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="{{root_url}}dc">DataCenter</a></li>
              <li><a href="{{root_url}}trace/cluster?master={{master}}&dc={{dc}}&trace={{trace}}">Cluster</a></li>
              <li class="active"><a href="{{root_url}}trace/job?master={{master}}&dc={{dc}}&trace={{trace}}">Jobs</a></li>
              <li><a href="{{root_url}}trace/sql?master={{master}}&dc={{dc}}&trace={{trace}}">Trace</a></li>
         </ul>
       </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container my-container">
<h4>Job Stabilization Statistics</h4>
<div id="stable_stat" style="height: 350px; min-width: 540px">
    loading data...
</div>
</div> 


<div class="container my-container">
    <h4>Task Error Stream</h4>
    <div id="tasks">
    
    </div>
</div> <!-- /container -->
{%endblock%}

{%block custom-js%}
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script src="{{media_url}}/mustache.js"></script>
<script>
Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
}
var ROOT_URL="{{root_url}}";
var MEDIA_URL="{{media_url}}";
var JOB_ID="{{jobid}}";
$(function(){
    var FormatDate = function(date) {
        var fdate = [ date.getFullYear().padLeft(),
                      (date.getMonth() + 1).padLeft(),
                    date.getDate()].join('-')+
                    ' ' +
                  [ date.getHours().padLeft(),
                    date.getMinutes().padLeft()].join(':');
        return fdate;
    }
    Highcharts.setOptions({
            global: {
                useUTC: false,
                timezoneOffset:8
            }
     });
 
    var today = new Date();
    var last = new Date(today.getTime() - (3 * 24 * 60 * 60 * 1000));
    var start_time = last * 1000;
    var end_time = today * 1000;
    var query_task_stat = "select cmd,agent_addr,pod_id,ftime,error,exit_code,internal_error,deploy,main,gc_dir,ttime from TaskEvent where job_id='" + JOB_ID + "'";//"' and " +
        " time >= '" + FormatDate(last) + "' and time <='" + FormatDate(today)+ "'"; 
    var sql = encodeURIComponent(query_task_stat);
    $.getJSON(ROOT_URL+"trace/squery?master={{master}}&dc={{dc}}&trace={{trace}}&db=baidu.galaxy&sql="+sql, function(data){
        var tasks = Mustache.render(data.data.tpl, {datas:data.data.datas});
        $("#tasks").html(tasks);
        });
    var query_job = "select running,replica,pending,death,time from JobStat where jobid='{{jobid}}'" 
        + " and time>'" + FormatDate(last) + "' and time<='" + FormatDate(today)+ "'";
    var ProcessJobStat = function(data){
        var death = new Array;
        var running = new Array;
        var replica = new Array;
        var pending = new Array;
        for (var index in data) {
            var item = data[index];
            death.push([Math.round(item.time/1000), item.death]);
            running.push([Math.round(item.time/1000), item.running]);
            replica.push([Math.round(item.time/1000), item.replica]);
            pending.push([Math.round(item.time/1000), item.pending]);
        }
        var job_stat_stock = [];
        job_stat_stock.push({name:"death",data: death});
        job_stat_stock.push({name:"running",data: running});
        job_stat_stock.push({name:"replica", data:replica});
        job_stat_stock.push({name:"pending", data:pending});
        return job_stat_stock;
    }
    $.getJSON(ROOT_URL + "trace/squery?master={{master}}&dc={{dc}}&trace={{trace}}&db=baidu.galaxy&limit=5000&sql="+encodeURIComponent(query_job), function(data){
        $('#stable_stat').highcharts('StockChart', {
                title: {
                    text: 'job stabiliztion stat'
                },
                yAxis: {
                       plotLines: [{
                            width: 1
                        }] 
                },
            rangeSelector : {
                    buttons : [{
                        type : 'hour',
                        count : 2,
                        text : '2h'
                 }, {
                    type : 'hour',
                    count : 4,
                    text : '4h'
                }, {type:'day',
                    count:2,
                    text:"2d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 1,
                inputEnabled: false
            }, 
            series :ProcessJobStat(data.data.datas) 
        });

    });
    });
   
</script>
{%endblock%}
