{%extends "base.html"%}
{%block custom-css%}
 <style type="text/css">
    body > .ui.container {
      margin-top: 3em;
    }
    .ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }


    .ui.table {
      table-layout: fixed;
    }
  </style>


{%endblock%}
{%block main%}
<div class="ui container">
<div id="job_stat" style="height: 400px; min-width: 310px">
    loading data...
</div>
<h4> pod logs </h4>
<p>input format is 2015-10-11 22:23</p> <br>
start_time:<input type="text" name="start" id="start_time"><br>
end_time:<input type="text" name="end" id="end_time"> <button id="query_btn">query</button><br>
<div id="events">
    loading data...
</div>
</div>
{%endblock%}

{%block custom-js%}
<script src="{{media_url}}/js/highstock.js"></script>
<script src="{{media_url}}/mustache.js"></script>
<script>
Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
}
var JOB_ID="{{jobid}}";
var ROOT_URL="{{root_url}}";
var MEDIA_URL="{{media_url}}";
$(function(){
    $.get("{{media_url}}/tpl/jobs.tpl",function(tpl){
         $.getJSON("{{root_url}}trace/job/all",function(data){
            var jobs_table = Mustache.render(tpl, data.data);
            $("#jobs").html(jobs_table);
        });
    });
    var today = new Date();
    var last = new Date(today.getTime() - (3 * 24 * 60 * 60 * 1000));
    var start_time = last * 1000;
    var end_time = today * 1000;
    $.getJSON('{{root_url}}trace/query?db=baidu.galaxy&table=JobStat&fields=running,death,pending,replica,time&id={{jobid}}&start='+start_time + "&end="+end_time, function (data) {
      Highcharts.setOptions({
            global: {
                useUTC: false,
                timezoneOffset:8
            }
     });
     var ProcessData = function(data) {
        var task_replica = new Array;
        var task_running = new Array;
        var task_pending = new Array;
        var task_death = new Array;
        for (var index in data.data.datas) {
            var item = data.data.datas[index];
            task_replica.push([Math.round(item.time/1000 ), item.replica]);
            task_running.push([Math.round(item.time/1000 ), item.running]);
            task_pending.push([Math.round(item.time/1000 ), item.pending]);
            task_death.push([Math.round(item.time/1000), item.death]);
        }
        var task_stock = [];
        task_stock.push({name:"running", data:task_running});
        task_stock.push({name:"replica", data:task_replica});
        task_stock.push({name:"pending", data:task_pending});
        task_stock.push({name:"death", data:task_death});
        return task_stock;
     }
        

      $('#job_stat').highcharts('StockChart', {
            title: {
                text: 'the stabilization of job'
            },
            yAxis: {
                   plotLines: [{
                        value: 0,
                        width: 3,
                        color: 'silver'
                    }] 
            },
           rangeSelector : {
                buttons : [{
                    type : 'hour',
                    count : 1,
                    text : '1h'
                }, {
                    type : 'hour',
                    count : 5,
                    text : '5h'
                }, {type:'day',
                    count:1,
                    text:"1d"},
                    {
                    type : 'all',
                    count : 1,
                    text : '3d'
                }],
                selected: 0,
                inputEnabled: false
            }, 
            series :ProcessData(data) 
        });

    });

    var QueryPodEvent = function(start_time, end_time) {
        $.getJSON("{{root_url}}trace/query?db=baidu.galaxy&table=PodEvent&jobid={{jobid}}&fields=level,id,agent_addr,time,gc_dir,from,reason&limit=100&start="+start_time+"&end="+end_time,
                function(data){
        var formated_data = {};
       for (var i in data.data.datas) {
           var item = data.data.datas[i];
           if (!formated_data.hasOwnProperty(item.id)) {
               formated_data[item.id] = new Array;
           }
           var d = new Date(item.time/1000);
           var fdate = [ d.getFullYear().padLeft(),
                      (d.getMonth() + 1).padLeft(),
                    d.getDate()].join('-')+
                    ' ' +
                  [ d.getHours().padLeft(),
                    d.getMinutes().padLeft(),
                    d.getSeconds().padLeft()].join(':');
           item.ftime=fdate;
           formated_data[item.id].push(item);
       }
       var array_data = [];
       for (var key in formated_data) {
           array_data.push({id:key, logs:formated_data[key]});
       }

       $.get("{{media_url}}/tpl/pods.tpl",function(tpl) { 
           var pods = Mustache.render(tpl,{stats:array_data});
           $("#events").html(pods);
       }); 
     });
    }
    var today = new Date();
    var last = new Date(today.getTime() - (1* 60 * 60 * 1000));
    var start_time = last * 1000;
    var end_time = today * 1000;
    QueryPodEvent(start_time, end_time);
    $("#query_btn").bind("click",function() {
        start_time = new Date($("#start_time").val()) * 1000;
        end_time = new Date($("#end_time").val())* 1000;
        $("#events").html("loading data...");
        QueryPodEvent(start_time, end_time);
    });
});

function handle_pod_click(podid, time) {
    var req_url = ROOT_URL + "trace/pod/detail?podid="+podid+ "&time=" +time;
    location.href=req_url;
}
</script>
{%endblock%}
