{%extends "base.html"%}
{%block custom-css%}
 <style type="text/css">
    body > .ui.container {
      margin-top: 3em;
    }
    .ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      margin: 4em 0em 3em;
    }


    .ui.table {
      table-layout: fixed;
    }
  </style>


{%endblock%}
{%block main%}
<div class="ui container">
<h4> task logs </h4>
<div id="logs">
</div>
</div>
{%endblock%}

{%block custom-js%}
<script src="{{media_url}}/js/highstock.js"></script>
<script src="{{media_url}}/mustache.js"></script>
<script>
Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
}
var POD_ID="{{podid}}";
var TIME={{time}};
var ROOT_URL="{{root_url}}";
var MEDIA_URL="{{media_url}}";
$(function(){
    var middle = new Date(TIME/1000);
    // ten minutes
    var start = new Date(middle.getTime() - (10 * 60 * 1000));
    var end = new Date(middle.getTime() + (10 * 60 * 1000));
    var start_time = start * 1000;
    var end_time = end * 1000;
 
    $.get("{{media_url}}/tpl/tasks.tpl",function(tpl){
        $.getJSON("{{root_url}}trace/query?db=baidu.galaxy&table=TaskEvent&podid={{podid}}&fields=level,ttime,error,cmd,agent_addr,gc_dir,exit_code,id&limit=200&start="+start_time+"&end="+end_time,function(data){
            var formated_tasks = [];
            for (var index in data.data.datas) {
                var item = data.data.datas[index];
                var d = new Date(item.ttime/1000);
                var fdate = [ d.getFullYear().padLeft(),
                             (d.getMonth() + 1).padLeft(),
                             d.getDate()].join('-')+
                             ' ' +
                            [ d.getHours().padLeft(),
                              d.getMinutes().padLeft(),
                              d.getSeconds().padLeft()].join(':');
                item.ftime=fdate;
                formated_tasks.push(item);
            }
            var tasks = Mustache.render(tpl, {logs:formated_tasks});
            $("#logs").html(tasks);
        });
    });
});
</script>
{%endblock%}
