/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(237, 237, 237);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container {
    width: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}


.header,
.marketing,
.footer {
    padding-left: 0;
    padding-right: 0;
}
.header div{
  display: inline-block;
}
.header #galaxy{
  font-size: 20px;
  color: #777;
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 400;
}
.header #console{
  font-size: 16px;
  padding-top: 5px;
  color: #333;
  padding-left: 10px;
  font-weight: 400;
}

.text-muted{
  font-family:monospace;
  color: gray;
  font-size: 20px;
}
.toggle-nav ,.layout-nav{
    background: #fff;
    width: 216px;
    font-size: 14px;


}
.toggle-nav{
  bottom: 0;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: fixed;
  z-index: 10;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: width cubic-bezier(0.4,0.0,0.2,1) 0.2s,border-radius cubic-bezier(0.4,0.0,0.2,1) 0.2s;
  visibility: visible;
  margin:10px 10px 0px 10px;
}

.layout-nav{
  display: block;
  top: 45px;
  left: 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  bottom: 32px;
  padding: 24px 0 0 0;
  transition: left cubic-bezier(0.4,0.0,0.2,1) 0.2s,top cubic-bezier(0.4,0.0,0.2,1) 0.2s,visibility 0 linear 0;
  overflow: hidden;
  z-index: 2;
  position: fixed;
}
.layout-nav .layout-nav-divider{
  display: block;
  height: 2px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 10px;
}
.layout-nav .layout-nav-header,
.layout-nav .layout-nav-header ul,
.layout-nav .layout-nav-header ul li ,
.layout-nav .layout-nav-header ul li a{
  width: 100%;
  display: block;
  padding-left: 0;
  font-size: 13px;
  text-decoration: none;
}
.layout-nav .layout-nav-header ul li a{
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  padding-left: 20px;
  color: #777;
}

.layout-nav .layout-nav-header ul li a:hover{
    color: rgb(34, 34, 34);
}
.layout-nav .layout-nav-header ul li a.layout-nav-main:hover{
  background-color: rgba(0,0,0,0.035)!important;
}
.layout-nav .layout-nav-header ul{
  list-style: none;
}
.layout-nav .layout-nav-header ul li a.layout-nav-breadcrumb {
  position: relative;
  color: #777;
}
.layout-nav,.toggle-nav{
    margin:8px 8px 8px 8px;
}
.header {
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  height: 45px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: top cubic-bezier(0.4,0.0,0.2,1) 0.2s;
  box-shadow: 0 1px 4px rgba(0,0,0,0.12);
  border: 0;
}
.loading-mask , .content-viewport{
  position: absolute;
  top: 45px;
  left: 216px;
  bottom: 0;
  right: 0;
  transition: left cubic-bezier(0.4,0.0,0.2,1) 0.2s,top cubic-bezier(0.4,0.0,0.2,1) 0.2s,right cubic-bezier(0.4,0.0,0.2,1) 0.2s;
}

.content-viewport{
  background-color: #fff;
  padding: 24px 28px 48px;
  overflow-y:scroll;
  overflow-x:auto;
  margin:8px 8px 8px 16px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.content-viewport > .service-list > .service-table{
  margin-top: 10px;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.ace_editor  {
  height: 300px;
}
.instance-container{
  display: block;

}
.instance-container-title{
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 10px;

}
.instance-container-title h4{
  display: inline-block;
  margin-right: 10px;
}
 .instance-container-list{
  width: 100%;
  display: block;
  min-height: 100px;
  max-height: 200px;
  overflow-y:scroll;

}
.single-instance{
  padding: 5px ;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top:5px;
  width: 35px;
  height: 35px;
  float: left;
  cursor: pointer;
  font-family:Arial,Helvetica,sans-serif;
  text-align: center;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
.single-instance .instance-state{
   font-size: 18px;
}
.single-instance .instance-offset{
   font-size: 10px;
}
.single-instance:hover{
  border-bottom: 2px solid #4184f3;
}

.running-instance{
  background-color: #2f973f;
  color: white;
}
.error-instance{
    background-color: #c13e2c;
  color: white;
}
.deploy-instance,.starting-instance, .pending-instance{
    background-color: #fbb450;
  color: white;
}

.add-instance{
  background-color: gray;
  color: white;

}
.instance-window{
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.resource-list{
  list-style: none;
  margin-top: 15px;
  display: block;
}

.tag-cloud{
  margin-top: 15px;
  width: 400px;
}
.tag-cloud .label{
    margin-right:10px;
    display:inline-block;
    margin-bottom:10px;
}

.cluster-status-list{

}

.card{
  -webkit-transition: all cubic-bezier(0.4,0.0,0.2,1) 0.2s;
  transition: all cubic-bezier(0.4,0.0,0.2,1) 0.2s;
  display: block;
  padding: 12px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  border: 1.1px solid #e7e7e7;
  background: #fff;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
}
.card .card-header{
 font-size:12px;
 font-weight: bold;
 display:block;
 margin-bottom:10px;
}
.card .ez-chart{
    display:block;
    float:left;
    margin-right:25px;
}
.card .ez-chart .chart-label{
    font-size:12px;
    font-weight:bold;
}
.resource-status{
 width:300px;
 height:180px;
}

.group-resource-status{
 width:100%;
 height:190px;
}

.resource-total{
    width:550px;
    height:180px;
}

#user{
  float: right;
  margin-top: 14px;
  margin-right: 20px;
}
.modal-content {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.form-inline-header{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    max-width: 100%;
    font-weight: bold;
}

.job-modal-body {
    padding: 10px 0 10px 0;
}
.job-modal-body .form-group {
    margin: 8px 15px 8px 15px;
}

.watch-editor, .trigger-editor,.action-editor,.rule-editor{
    padding: 10px 10px 10px 10px;
    background-color: #fbfbfb;

}
.monitor-header {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
