
.treeview {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-style: normal;
  font-weight: normal;
  color: rgb(34, 34, 34);
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  overflow-y:scroll;
   
}

.treeview a{
	  cursor: pointer;
  	text-decoration: none;
  	width: 100%;
  	line-height: 25px;
  	display: block;
  	color: #333;
}
.treeview dl {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none; 
  border: none;
  overflow: hidden;
}
.treeview dt:hover{
	background-color: rgba(0,0,0,0.035)!important;
}

.treeview dt ,.treeview dt {
  line-height: 28px;
}
.treeview .level1{
	padding-left: 20px;
	font-size: 13px;
    font-weight: bold;
}
.treeview .level2{
	padding-left: 36px;
	font-size: 13px;
	font-weight: normal;
}
.treeview li .expanded {
  padding: 1px 5px;
  background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
  background-repeat: no-repeat;
}

.treeview li .collapsed {
  padding: 1px 5px;
  background-image: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
  background-repeat: no-repeat;
}

.treeview li .normal {
  padding: 1px 5px;
  background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
  background-repeat: no-repeat;
}


.treeview .selected {
  	background-color: rgba(0,0,0,0.035)!important;
  	color: #4184f3!important;
}
.mybreadcrumb{
  position: relative;
  color: #777;
}
.mybreadcrumb:before {
  -webkit-transition: border ease .1s;
  transition: border ease .1s;
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 0;
  bottom: 0;
  right: auto;
  margin: auto;
  height: 5px;
  width: 5px;
  border-right: 1.1px solid #a9a9a9;
  border-bottom: 1.1px solid #a9a9a9;
  -webkit-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
